<div class="card p-3 text-center">
    <div class="card-body">
            <i class="fas fa-user mb-4"></i>
        <h5 class="fw-bold">{{@name}}</h5>
        <p class="text-muted">{{@role}}</p>
    </div>
</div>