<div class="card mb-4 clickable-card" {{on "click" this.goToTeam}}>
    <div class="card-body">
        <div class="row align-items-center mb-4">
            <div class="col-auto">
                <!-- Random Icon -->
                <i class="{{concat 'fas fa-lg ' this.randomIcon}}"></i>
            </div>
            <div class="col">
                <h5 class="card-title mb-2">{{@title}}</h5>
                <p class="card-text">{{@description}}</p>
            </div>
        </div>
    </div>
</div>
