<div class="card team-widget mb-4">
    <div class="card-body">
        <div class="row align-items-center mb-4">
            <div class="col-auto">
            <!-- Random Icon -->
            <i class="{{concat 'fas fa-lg ' this.randomIcon}}"></i>
            </div>
            <div class="col">
                <h5 class="card-title mb-0">{{@title}}</h5>
                <p class="card-text">{{@description}}</p>
            </div>
        </div>

        <!-- Edit/Delete with icons -->
        <div class="d-flex justify-content-end gap-2 mt-auto">
            <button class="btn btn-sm btn-warning" type="button">
                <i class="fas fa-edit me-2"></i> Edit
            </button>
            <button class="btn btn-sm btn-danger" type="button">
                <i class="fas fa-trash-alt me-2"></i> Delete
            </button>
        </div>
    </div>
</div>
