{{page-title "Add Member"}}

<div class="row">
    <div class="row mb-4">
        <div class="text-center mb-4">
            <h1 class="display-5 mb-0">Add a new member</h1>
        </div>
    </div>

    <div class="col-md-6 offset-md-3">
        <MemberForm @teamId={{this.model}}/>
    </div>
</div>

{{!-- <div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="mb-4">Add a New Member</h2>
    </div>
</div> --}}