{{!-- app/templates/application.hbs --}}
{{!-- 
  Application Template
  Displays the main layout for the application
--}}

{{!-- Page Title --}}
{{ page-title "Team Management App"}}

{{!-- TopBar --}}
<div class="topbar navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand mr-4" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

{{!-- Main Content --}}
<div class="container my-3">
  {{!-- Render all the pages and it's components here --}}
  {{outlet}}
</div>