{{page-title "Edit Member"}}

<div class="row">
    <div class="row mb-4">
        <div class="text-center mb-4">
            <h1 class="display-5 mb-0">Edit Member</h1>
        </div>
    </div>

    <div class="col-md-6 offset-md-3">
        <MemberForm 
        @member={{this.model.member}} 
        @teamId={{this.model.teamId}}/>
    </div>
</div>

{{!-- <div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="mb-4">Edit Member</h2>
        
    </div>
</div> --}}

