{{!-- app/templates/edit-member.hbs --}}
{{!-- 
  Edit Member Template
  Displays the form to edit a member
--}}

{{!-- Page Title --}}
{{page-title "Edit Member"}}

<div class="row">
    {{!-- Header Section --}}
    <div class="row mb-4">
        <div class="text-center mb-4">
            <h1 class="display-5 mb-0">Edit Member</h1>
        </div>
    </div>

    {{!-- Edit Member Form --}}
    <div class="col-md-6 offset-md-3">
        {{!-- Render a MemberForm component to display the form --}}
        <MemberForm 
        @member={{this.model.member}} 
        @teamId={{this.model.teamId}}/>
    </div>
</div>

