{{page-title "Edit Member"}}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="mb-4">Edit Member</h2>
        <MemberForm 
        @member={{this.model.member}} 
        @teamId={{this.model.teamId}}/>
    </div>
</div>

