{{!-- app/templates/edit-team.hbs --}}
{{!-- 
  Edit Member Template
  Displays the form to edit a team
--}}

{{!-- Page Title --}}
{{page-title "Edit Team"}}

<div class="row">
    {{!-- Header Section --}}
    <div class="row mb-4">
        <div class="text-center mb-4">
            <h1 class="display-5 mb-0">Edit Team</h1>
        </div>
    </div>

    {{!-- Edit Team Form --}}
    <div class="col-md-6 offset-md-3">
        {{!-- Render a TeamForm component to display the form --}}
        <TeamForm @team={{@model}}/>
    </div>
</div>
